
@model TP_SGIAMT.Models.TModalidadCon


@{
    ViewData["Title"] = "Inscripcion de Participante";
}

<div class="container-fluid col-xs-12 col-md-12 col-lg-12" style="font-size:16px; font-family:'Century Gothic'">
    <div class="row col-md-6 col-md-offset-3 text-center">
        <br>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 style="font-size:16px;" class="text-danger text-center">@ViewData["Title"]</h2>
            </div>
            <div class="panel-body form-group">
                <label class="form-group">Modalidad de Concurso:</label>
                <div class="form-group">
                    <select asp-for="PkImIdModalidad" class="form-control" asp-items="ViewBag.VmNombreMod"></select>
                </div>

            </div>
        </div>

    </div>
</div>