@model TP_SGIAMT.Models.TConcurso

@{
    ViewData["Title"] = "Create";
}

<h2>Registrar Concurso</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                <div class="form-row">
                    <label asp-for="VcNombreCon" class="control-label">Nombre Concurso</label>
                    <input asp-for="VcNombreCon" class="form-control" />
                    <span asp-validation-for="VcNombreCon" class="text-danger"></span>
                </div>  
                <div class="form-row">
                    <label asp-for="VcLugarCon" class="control-label">Lugar del Concurso</label>
                    <input asp-for="VcLugarCon" class="form-control" />
                    <span asp-validation-for="VcLugarCon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DcFechaConcurso" class="control-label">Fecha del Concurso</label>
                    <input asp-for="DcFechaConcurso" class="form-control" type="date" />
                    <span asp-validation-for="DcFechaConcurso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FkIecIdEstado" class="control-label">Estado del Concurso</label>
                    <select asp-for="FkIecIdEstado" class="form-control" asp-items="ViewBag.FkIecIdEstado" disabled></select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="IcCantidadSeri" class="control-label"></label>
                        <input asp-for="IcCantidadSeri" class="form-control" />
                        <span asp-validation-for="IcCantidadSeri" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="IcCantidadNove" class="control-label"></label>
                        <input asp-for="IcCantidadNove" class="form-control" />
                        <span asp-validation-for="IcCantidadNove" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-3">
                        <input type="submit" value="Registrar" class="btn btn-success" />
                    </div>
                    <div class="form-group col-md-4">
                            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                    </div>
                </div>
</form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
