@model IEnumerable<TP_SGIAMT.Models.TModalidadCon>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VmNombreMod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkImIdModalidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkImIdModalidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkImIdModalidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
